<!-- <div class="text-center page-not-found" >
  <mat-card id="page-card">
    <h2> Url not found </h2>
    <h2> OR </h2>
    <h2> Your Session is expired </h2>
    <div> <button mat-button (click)="goBack()" > <mat-icon> arrow_back </mat-icon> Go to Login </button> </div>
  </mat-card>
</div> -->

<section id="not-found">
    
    <div class="circles">
      <p>404<br>
       <small>PAGE NOT FOUND</small>
      </p>
      <div class="redirect">
          <h2> url not found  OR  your session is expired </h2>
          <div> <button mat-button (click)="goBack()" > go back to Login </button> </div>
      </div>
      <span class="circle big"></span>
      <span class="circle med"></span>
      <span class="circle small"></span>

      
    </div>
  </section>
  
