<div id="spinner01" class="w3-modal myLoaderModal" style="background-color: #cccccc40;">
  <div class="w3-modal-content">
    <div class="w3-container" id="modalContainer">
      <app-loader></app-loader>
    </div>
  </div>
</div>

<app-header></app-header>

<div id="mainCnt" class="mainPage" [ngStyle]="{ 'filter': 'blur(' + blurRatio + 'px)'}">
  <!-- google translater -->
  <div id="google_translate_element"></div>
  <router-outlet></router-outlet>
</div>
<!-- notification msg -->
<!-- <div class="myMsg text-center">

</div> -->

<ng-container *ngFor='let message of msgs'>
  <div class="myMsg w3-animate-right" *ngIf="message?.summary">
    <div class="con-table">
      <div class="con-row">
        <div class="column sidebar ">
            <mat-icon>{{message.severity}}</mat-icon>
        </div>
        <div class="column content-message">
            <span>{{message.summary}}</span>
            <br>
            {{message.detail}}
        </div>
      </div>
    </div>
  </div>
</ng-container>
<app-footer ></app-footer>
