#modalContainer {
  width: 30%;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.Dropdown {
  margin-left: 2%;
  margin-right: 2%;
}

.centerAlign {
  text-align: center;
}

.leftAlign {
  text-align: left;
}

.plato_table{
  float: left;
  margin-top: 85px;
  margin-left: 5px;
}
.top_bar {
  min-height: 65px;
  height: auto !important;
}

.plato_table td {
  padding: 4px;
  font-size: 12px !important;
}
.plato_table th {
  padding: 4px;
  font-size: 14px !important;
}
