#spinner {
    background-color: transparent;
    background-image: none;
    margin: 10% auto;
}

.browsercard {
    width: min-content;
    height: min-content;
    border: none;
    box-shadow: none;
}

::ng-deep .mat-progress-bar-buffer {
    background-color: white;
}

::ng-deep .mat-progress-bar-fill::after {
    background-color: #f69f11;
}

.myheading {
    background-color: #1094d5;
    color: white;
    width: 100%;
    height: 25px;
    padding: 0.5%;
    font-size: 12px !important;
}

.textStyle {
    font-size: 12px;
    font-weight: bold;
    padding: 4px;
    background: rgb(211, 211, 211);
    font-family: "Segoe UI light", Verdana, sans-serif, Arial !important;
    border: none;
}

.app {
    min-height: 250px !important;
    margin-left: 90px !important;
    display: inline-flex !important;
    overflow-x: auto;
    vertical-align: top;
    width: calc(100% - 90px);
}

.readiobtn {
    font-size: 13px;
    font-weight: bold;
    padding: 5px 15px;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%;
    font-family: "Segoe UI light", Verdana, sans-serif, Arial !important;
}

.progress {
    width: 30%;
    height: 55%;
    float: right;
    margin-top: 0.5%;
    margin-right: 36px;
    border: 1px solid #fff;
    border-radius: 100px;
    margin-bottom: 0 !important;
}

.inprogress {
    width: 30%;
    height: 55%;
    float: right;
    margin-top: 0.5%;
    border: 1px solid #fff;
    border-radius: 100px;
}

.modulecard {
    margin: 5% 1% 1% 1%;
    border-radius: 2px;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.4);
    padding: 5px;
    min-height: 240px !important;
    float: right;
    text-align: left;
    min-width: 220px !important;
    max-width: 220px !important;
}

.modulecard:hover {
    box-shadow: -1px 1px 10px 0px rgba(0,0,0,0.8);
}

.material-icons {
    font-size: 20px;
}

.mat-mini-fab {
    width: 35px;
    height: 35px;
    background: #0073b7;
    color: white;
}

.myIcons {
    float: right;
}

.ALMalert {
    margin: 10px auto !important;
}

.ALMalert p {
    margin: 2px auto;
    border: 1px solid #ccc;
    width: 40%;
    background-color: antiquewhite;
}

.list-group-item{
    font-size: 11px;
    padding: 5px;
    overflow-wrap: break-word;
}
