.selectbox1 {
    color: #f00 !important;
}

#modalContainer {
    width: 30%;
}

#modal {
    background-color: #103E5F !important;
    color: white;
}

.input-form {
    width: 100%;
}

.input-full-width {
    width: 100%;
}
#sidenav {
  box-shadow: none;
}



#sidenav-container {
    background: #fff;
    width: 100%;
    padding: 0;
    overflow: hidden;
    opacity: 1;
    bottom: 0;
    left: 0;
    right: 0;
}

.sidenav-content {
    background: transparent;
    margin-bottom: 1%;
    overflow: auto;
    height: 100vh;
    box-shadow: inset 97px 18px 11px -98px rgba(0, 0, 0, 0.5);
    padding-left: 10px;
}

#myExpantion ::ng-deep .mat-expansion-panel-header {
    height: 40px !important;
    line-height: 32px;
    padding: 0 !important;
}

#myExpantion ::ng-deep .mat-expansion-panel-content {
    font-size: 11px;
    font-family: "Lato", Verdana, sans-serif, Arial !important;
    max-height: 35.5vh;
    overflow-y: auto;
}

#myExpantion ::ng-deep .mat-expansion-panel-content::-webkit-scrollbar {
    width: 5px;
}

#myExpantion ::ng-deep .mat-expansion-panel-content::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

#myExpantion ::ng-deep .mat-expansion-panel-content::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background: #979797 !important;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

#myExpantion ::ng-deep .mat-expansion-panel-content::-webkit-scrollbar-thumb:window-inactive {
    background: lightblue;
}

#myExpantion ::ng-deep .mat-expansion-panel-body {
    margin: 0 24px !important;
}

.row {
    margin: 0;
}

.padzero {
    padding: 0;
}

#project_title {
    font-size: 18px;
    color: white;
    width: 100%;
    line-height: 34px;
    /* background-color: #f16721;*/
}

#project_title .mat-icon-button {
    padding: 0;
    min-width: 0;
    width: 40px;
    height: auto;
    flex-shrink: 0;
    line-height: 27px;
    border-radius: 50%;
    vertical-align: top;
}

.breadcrums .mat-icon-button {
    padding: 0;
    min-width: 0;
    width: 40px;
    height: 34px;
    flex-shrink: 0;
    line-height: 33px;
    border-radius: 50%;
}

a .comp-list {
  padding-top: 4px;
  padding-bottom: 0%;
  width: 100%;
  text-align: left;
  color: #272727;
  font-size: 12px;
  border-bottom: 1px solid #b5b3b3;
  font-family: "Lato", Verdana, sans-serif, Arial !important;
  height: 40px;
}

a .comp-list:hover {
  background-color: #efefef !important;
  color: rgba(0,0,0,.87);
}

a .comp-list .mat-expansion-panel-header {
    height: 38px !important;
    padding: 0 12px;
    font-size: 10px;
}

a #title {
    display: flex;
    flex-grow: 15;
    margin-right: 0px;
}

.mat-expansion-panel-content {
    font-size: 10px;
}

::ng-deep .mat-tab-labels {
    justify-content: center;
    /* align items in Main Axis */
}

.myTabs {
    width: 100%;
}

#advanceCard {
    margin: 2%;
    padding: 5px;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

ul {
    background-color: lightskyblue;
    padding-left: 7px;
}

li:hover {
    color: blue;
    font-size: 14px;
}

#myMenu {
    background-color: white;
    color: black;
}

#myMenuBtn {
    background-color: white;
    color: black;
}

#myExpantion {
    display: unset;
    font-size: 10px;
}

#myBtnRowRunning {
    border-top-style: solid;
    border-top-width: 1px;
    display: -webkit-box;
    flex-direction: row;
    -webkit-box-pack: center;
    justify-content: flex-end;
    padding: 4px;
}

#myBtnRowRunning:hover {
    text-decoration: underline;
}

#myBtnRow {
    border-top-style: solid;
    border-top-width: 1px;
    display: -webkit-box;
    flex-direction: row;
    -webkit-box-pack: center;
    justify-content: flex-end;
    padding: 4px;
}

#myBtnRow:hover {
    text-decoration: underline;
}

::ng-deep .mat-drawer.mat-drawer-side {
    z-index: 1 !important;
}

.customScroll1::-webkit-scrollbar {
    width: 5px !important;
}

mat-action-row.active {
    border: 2px solid #1094d5 !important;
    /* font-size:10px; */
}

.historyProgress {
    width: 85%;
    height: 10px;
    float: left;
    margin-top: 5px;
}

.historyCloseBtn {
    float: right;
    padding: 0px;
    margin: 0px;
    height: 17px !important;
    width: 17px !important;
    color: black !important;
}

.historyProgress ::ng-deep .mat-progress-bar-buffer {
    background-color: white;
    border: 0.01em solid black;
}

.historyProgress ::ng-deep .mat-progress-bar-fill::after {
    background-color: yellow;
    border-top: 0.01em solid black;
    border-bottom: 0.01em solid black;
}

.preBuildCheck {
    width: 300px;
    height: 5px;
    float: left;
    margin: 0px -10px -5px -10px;
}

.preBuildCheck ::ng-deep .mat-progress-bar-buffer {
    background-color: white;
    border: 0.01em solid black;
}

.preBuildCheck ::ng-deep .mat-progress-bar-fill::after {
    background-color: rgb(82, 178, 223);
    border-top: 0.01em solid black;
    border-bottom: 0.01em solid black;
}

::ng-deep .mat-option {
    border: 1px solid #ccc !important;
    border-right: none !important;
    border-left: none !important;
    margin-bottom: 1px !important;
}

.myDropDown {
    margin-left: 43px;
}

.loader {
    width: 17px;
    height: 17px;
    position: absolute;
    margin: 0px 14px;
    border: 5px solid #dddddd;
    border-radius: 50%;
    border-top: 5px solid #39b2eb;
}

.build-history-list:hover .col-md-1,
.build-history-list:hover .col-md-8{
  text-decoration: underline;
}

.activeLink {
  background-color: #d0d0d0 !important;
  color: rgba(0,0,0,.87);
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: rgb(27, 142, 241) !important;
}

::ng-deep .mat-ripple-element {
  background: rgba(192, 192, 192, 0.4) !important;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: rgb(27, 142, 241);
}

::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: rgb(27, 142, 241);
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  background-color:rgba(192, 192, 192, 0.4) !important;
}


