<div class='breadcrumbs' id="myBreadcrumb">
  <div class='inner'>
    <button mat-icon-button (click)="sidenav.toggle()" style="margin-left:15px;">
      <img title="Portfolio" src="../../assets/genral_icons/menu.png" style="cursor: pointer; padding-right: 15px;" />
    </button>
    <span style="vertical-align: middle;font-size: 15px;"> {{selectedConfigName}}
    <span *ngIf="(selectedConfigName === '')"> Portfolios </span> Configuration</span>
  </div>
</div>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav opened="true" mode="side" id="sidenav" class="customScroll">
    <div id="myList">
      <mat-nav-list>
        <a mat-list-item>
          <button mat-button class="comp-list" [routerLink]="['/config','portfolio']" routerLinkActive="active" (click)="selectConfig($event)">
            <span><img title="Portfolio" src="../../assets/genral_icons/case.png" style="position:absolute; top: 11px; left:18px; height:18px; width:18px;"/> </span><span style="margin-left: 30px; position: relative;top: 0px;">Portfolios</span></button>
        </a>
        <a mat-list-item>
          <button mat-button class="comp-list" [routerLink]="['/config','accounts']" routerLinkActive="active" (click)="selectConfig($event)">
            <span><img title="Accounts" src="../../assets/genral_icons/dollar.png" style="position:absolute; top: 11px; left:18px; height:18px; width:18px;"/></span><span style="margin-left: 30px; position: relative;top: 0px;">Accounts</span>  </button>
        </a>
        <a mat-list-item>
          <button mat-button class="comp-list" [routerLink]="['/config','projects']" routerLinkActive="active" (click)="selectConfig($event)">
            <span><img title="Projects" src="../../assets/genral_icons/light_bulb.png" style="position:absolute; top: 11px; left:18px; height:18px; width:18px;"/> </span><span style="margin-left: 30px; position: relative;top: 0px;">Projects</span> </button>
        </a>
        <a mat-list-item>
            <button mat-button class="comp-list" [routerLink]="['/config','roles']" routerLinkActive="active" (click)="selectConfig($event)">
              <span><img title="Roles" src="../../assets/genral_icons/id_card.png" style="position:absolute; top: 11px; left:18px; height:18px; width:18px;"/></span><span style="margin-left: 30px; position: relative;top: 0px;">Roles</span>  </button>
          </a>
        <a mat-list-item>
          <button mat-button class="comp-list" [routerLink]="['/config','users']" routerLinkActive="active" (click)="selectConfig($event)">
            <span><img title="Users" src="../../assets/genral_icons/users.png" style="position:absolute; top: 11px; left:18px; height:18px; width:18px;"/></span> <span style="margin-left: 30px; position: relative;top: 0px;">Users</span> </button>
        </a>
        <a mat-list-item>
          <button mat-button class="comp-list" [routerLink]="['/config','permissions']" routerLinkActive="active" (click)="selectConfig($event)">
            <span><img title="Permissions" src="../../assets/genral_icons/key.png" style="position:absolute; top: 11px; left:18px; height:18px; width:18px;"/></span><span style="margin-left: 30px; position: relative;top: 0px;">Permissions</span>  </button>
        </a>
        <a mat-list-item>
            <button mat-button class="comp-list" [routerLink]="['/config','toollist']" routerLinkActive="active" (click)="selectConfig($event)">
             <span> <img title="Tools" src="../../assets/genral_icons/scissor.png" style="position:absolute; top: 11px; left:18px; height:18px; width:18px;"/></span><span style="margin-left: 30px; position: relative;top: 0px;">Tool List</span></button>
          </a>
        <a mat-list-item>
          <button mat-button class="comp-list" [routerLink]="['/config','tools']" routerLinkActive="active" (click)="selectConfig($event)">
            <span><img title="Tools" src="../../assets/genral_icons/link.png" style="position:absolute; top: 11px; left:18px; height:18px; width:18px;"/></span><span style="margin-left: 30px; position: relative;top: 0px;">Projects-Tools Mapping </span> </button>
        </a>
        <a mat-list-item>
          <button mat-button class="comp-list" [routerLink]="['/config','environment']" routerLinkActive="active" (click)="selectConfig($event)">
            <span><img title="Environment" src="../../assets/genral_icons/monitor.png" style="position:absolute; top: 11px; left:18px; height:18px; width:18px;"/></span><span style="margin-left: 30px; position: relative;top: 0px;">Environment</span>  </button>
        </a>
        <a mat-list-item>
          <button mat-button class="comp-list" [routerLink]="['/config','node']" routerLinkActive="active" (click)="selectConfig($event)">
            <span><img title="Node" src="../../assets/genral_icons/network.png" style="position:absolute; top: 11px; left:18px; height:18px; width:18px;"/></span><span style="margin-left: 30px; position: relative;top: 0px;">Node</span> </button>
        </a>
      </mat-nav-list>
    </div>
  </mat-sidenav>

  <div class="sidenav-content customScroll">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>

