<div id="createTask" class="w3-modal modal-sm action-popup">
  <div class="w3-modal-content w3-animate-zoom">
    <header class="w3-container">
      <a onclick="document.getElementById('createTask').style.display='none'" class="modal-close" (click)="resetForm(myform)">
        <svg viewBox="0 0 24 24">
          <path d="M19 6.41l-1.41-1.41-5.59 5.59-5.59-5.59-1.41 1.41 5.59 5.59-5.59 5.59 1.41 1.41 5.59-5.59 5.59 5.59 1.41-1.41-5.59-5.59z"
          />
          <path d="M0 0h24v24h-24z" fill="none" />
        </svg>
      </a>
      <h2>Create Account</h2>
    </header>
    <form #myform="ngForm">
      <div class="w3-container modal-content customScroll text-center">
        <mat-form-field class="example-full-width" style="margin-top:30px">
          <input matInput placeholder="Enter Account Name" [(ngModel)]="account_name" value="" required id="accountname" name="accountname" #accountname="ngModel">
          <div *ngIf="accountname.errors && (accountname.dirty || accountname.touched)" class="alert alert-danger">
            <div [hidden]="!accountname.errors.required">
              Account name is required!
            </div>
          </div>
        </mat-form-field>
        <mat-form-field class="example-full-width"style="margin-bottom:30px">
          <input matInput placeholder="Enter Account Head"  [(ngModel)]="account_head" value="" required name="accounthead" id="accounthead" #accounthead="ngModel">
          <div *ngIf="accounthead.errors && (accounthead.dirty || accounthead.touched)" class="alert alert-danger">
            <div [hidden]="!accounthead.errors.required">
              Account Head is required!
            </div>
          </div>
        </mat-form-field>
        <!-- <mat-form-field class="example-full-width">
            <input matInput placeholder="Enter Account Logo"  [(ngModel)]="account_logo" value="">
        </mat-form-field> -->
      </div>
      <footer class="w3-container">
          <button mat-raised-button  class="btn mat-raised-button mat-primary mat-raised-cancel-button" color="primary" onclick="document.getElementById('createTask').style.display='none'" (click)="resetForm(myform)">
            Cancel
          </button>
          <button mat-raised-button  class="btn mat-raised-button mat-primary " color="primary" [disabled]="myform.invalid" onclick="document.getElementById('createTask').style.display='none'" (click)="createAccount()"> Create </button>
      </footer>
    </form>
  </div>
</div>


<div id="updateTask" class="w3-modal modal-sm action-popup">
  <div class="w3-modal-content w3-animate-zoom" id="modalContainer">
    <header class="w3-container">
      <a onclick="document.getElementById('updateTask').style.display='none'" class="modal-close">
        <svg viewBox="0 0 24 24">
          <path d="M19 6.41l-1.41-1.41-5.59 5.59-5.59-5.59-1.41 1.41 5.59 5.59-5.59 5.59 1.41 1.41 5.59-5.59 5.59 5.59 1.41-1.41-5.59-5.59z"
          />
          <path d="M0 0h24v24h-24z" fill="none" />
        </svg>
      </a>
      <h2>Update Account</h2>
    </header>
    <div class="w3-container modal-content customScroll text-center">
      <mat-form-field class="example-full-width"style="margin-top:30px">
        <input
        matInput placeholder="Account Name"
        [(ngModel)]="account.accountName" value="">
      </mat-form-field>
      <mat-form-field class="example-full-width"style="margin-bottom:30px">
        <input
        matInput placeholder="Account Head"
        [(ngModel)]="account.accountHead" value="">
      </mat-form-field>
    </div>
    <footer class="w3-container">
      <button mat-raised-button  class="btn mat-raised-button mat-primary mat-raised-cancel-button" color="primary" onclick="document.getElementById('createTask').style.display='none'">
        Cancel
      </button>
      <button mat-raised-button  class="btn mat-raised-button mat-primary" color="primary" onclick="document.getElementById('updateTask').style.display='none'" (click)="updateAccount()">
        Update
      </button>
    </footer>
  </div>
</div>

<mat-card class="config-card">
  <mat-card-header>
    <mat-card-title class="config-card-heading">  Accounts Configuration </mat-card-title>
    <mat-card-actions class="actions">
      <ng-container *ngFor="let component of screenPermission">
        <mat-input-container class="portfolioDropdown" *ngIf="component.name === 'Select Portfolio'">
          <mat-select [(value)]="portfolio_name" placeholder="Select Portfolio"
          [disabled]="component.checked">
            <mat-option class="portfoliooptions" *ngFor="let portfolio of portfolios" (click)="selectedPortfolio(portfolio)" [value]="portfolio.portfolio_name">
              {{ portfolio.portfolio_name }}
            </mat-option>
          </mat-select>
        </mat-input-container>
      </ng-container>
      <ng-container *ngFor="let component of screenPermission">
        <button mat-icon-button
        matTooltip="Create new Account"
        *ngIf="component.name === 'Create Account'"
        [ngStyle]="{'opacity':component.checked ? '0.5' : '1' }"
        [disabled]="component.checked"
        [disableRipple]="true"
        onclick="document.getElementById('createTask').style.display='block'">
          <img title="Create new Account" src="../../assets/genral_icons/plus.png" style="cursor: pointer; margin: 5px; vertical-align: sub;"
          />
        </button>
      </ng-container>
      <ng-container *ngFor="let component of screenPermission">
        <button mat-icon-button
        matTooltip="Edit existing Account"
        [disableRipple]="true"
        (click)="getParticularAccount()"
        onclick="document.getElementById('updateTask').style.display='block'"
        *ngIf="component.name === 'Edit Account'"
        [ngStyle]="{'opacity':!isEditShow || component.checked ? '0.5' : '1' }"
        [disabled]="!isEditShow || component.checked">
          <img title="Edit existing Account" src="../../assets/genral_icons/edit.png" style="cursor: pointer; margin: 5px; vertical-align: sub;"
          />
        </button>
      </ng-container>
      <ng-container *ngFor="let component of screenPermission">
        <button mat-icon-button
        matTooltip="Delete existing Account"
        (click)="deleteAccounts()"
        [disableRipple]="true"
        *ngIf="component.name === 'Delete Account'"
        [ngStyle]="{'opacity':!isDeleteShow || component.checked ? '0.5' : '1' }"
        [disabled]="!isDeleteShow || component.checked">
          <img title="Delete existing Account" src="../../assets/genral_icons/bin_sm.png" style="cursor: pointer; margin: 5px; vertical-align: sub;"
          />
        </button>
      </ng-container>
    </mat-card-actions>
  </mat-card-header>
  <mat-card-content>
    <div class="table-responsive plato_table">
      <table class="table">
        <tr id="tableHead">
          <th style="text-align:center"> <mat-checkbox [(ngModel)]="selectAll" (click)="isAllChecked()"></mat-checkbox> </th>
          <th class="headerAlign"> Account Name </th>
          <th class="headerAlign"> Acocunt Head</th>
          <!-- <th class="headerAlign"> Account logo Name</th> -->
        </tr>

        <tr *ngFor="let account of accounts" id="rowNo" >
          <td class="checkboxAlign" ><mat-checkbox [ngModel]="checkedAccount" (click)='isChecked(account)'></mat-checkbox></td>
          <td> {{account.accountName}} </td>
          <td> {{account.accountHead}} </td>
          <!-- <td> {{account.accountLogo}} </td> -->
        </tr>
      </table>
    </div>
  </mat-card-content>
</mat-card>
